In [7]:
import pandas as pd

# Path to files

In [8]:
SCHEDULE_FOLDER = "schedules/"

ECONOMICS_SCHEDULE = "Econ.xlsx"
PE_SCHEDULE = "ProgEng.xlsx"

economics_path =SCHEDULE_FOLDER+ECONOMICS_SCHEDULE
pe_path = SCHEDULE_FOLDER + PE_SCHEDULE

# Creating tables

## Economics

In [11]:
econ_df = pd.read_excel(economics_path)
econ_df

,День,Час,"Дисципліна, викладач",Unnamed: 3,Група,Unnamed: 5,Unnamed: 6,Тиждень,Ауд.,Unnamed: 9,Unnamed: 10
0,Понеділок,8.30-9.50,Навчально-науковий семінар з економіки (екон.)...,NaN,1,NaN,NaN,1-14,Д,NaN,NaN
1,NaN,NaN,Управління брендом роботодавця (мен.)\n асист....,NaN,лекція,NaN,NaN,3-9,Д,NaN,NaN
2,NaN,10.00-11.20,Макро- та мікроеконом. моделюв. (екон.) \n ст....,NaN,лекція,NaN,NaN,2-9,Д,NaN,NaN
3,NaN,NaN,Моделювання та управління фінансовими активами...,NaN,лекція,NaN,NaN,1-11,Д,NaN,NaN
4,NaN,NaN,Маркетинг впливу (мар.) (Custumer experience) ...,NaN,лекція,NaN,NaN,"2,3,4",Д,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
104,NaN,11.40-13.00,NaN,Комп’ютерна бізнес-статистика \n доц. Братик М.В.,NaN,2,"2,4,5,6,7,8",NaN,NaN,NaN,Д
105,NaN,NaN,NaN,Комп’ютерна бізнес-статистика \n доц. Братик М.В.,NaN,2пр,9-13,NaN,NaN,NaN,Д
106,NaN,13.30-14.50,NaN,Економіка підприємства (фін.) \n ст. викл. Хра...,NaN,лекція,2-9,NaN,NaN,NaN,Д
107,NaN,15.00-16.20,NaN,Економіка підприємства (фін.) \n ст. викл. Хра...,NaN,3ф,3-9,NaN,NaN,NaN,Д
108,NaN,16.30-17.50,NaN,Економіка підприємства (фін.) \n ст. викл. Хра...,NaN,4ф,3-9,NaN,NaN,NaN,Д

## Program engineering

In [12]:
pe_df = pd.read_excel(pe_path)
pe_df

,Unnamed: 0,Unnamed: 1,ЗАТВЕРДЖУЮ,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Декан факультету________А.М. Глибовець,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,""" 24 "" серпня 2023р.",NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Факультет інформатики,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
67,NaN,13:30-14:50,"Інформаційна безпека веб-застосунків, ас. О.В,...",5,1-10,Дистанційно
68,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,15:00-16:20,"Інформаційна безпека веб-застосунків, ас. О.В,...",6,1-10,Дистанційно
70,NaN,16:30-17:50,NaN,NaN,NaN,NaN
71,NaN,NaN,"Інформаційна безпека веб-застосунків, ас. О.В,...",7,1-10,Дистанційно

In [14]:
pe_df.drop([0,1])
pe_df

,Unnamed: 0,Unnamed: 1,ЗАТВЕРДЖУЮ,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Декан факультету________А.М. Глибовець,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,""" 24 "" серпня 2023р.",NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Факультет інформатики,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
67,NaN,13:30-14:50,"Інформаційна безпека веб-застосунків, ас. О.В,...",5,1-10,Дистанційно
68,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,15:00-16:20,"Інформаційна безпека веб-застосунків, ас. О.В,...",6,1-10,Дистанційно
70,NaN,16:30-17:50,NaN,NaN,NaN,NaN
71,NaN,NaN,"Інформаційна безпека веб-застосунків, ас. О.В,...",7,1-10,Дистанційно

In [15]:
pe_df.drop([0,1,2,3,4,5,6,7])
pe_df

,Unnamed: 0,Unnamed: 1,ЗАТВЕРДЖУЮ,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Декан факультету________А.М. Глибовець,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,""" 24 "" серпня 2023р.",NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Факультет інформатики,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
67,NaN,13:30-14:50,"Інформаційна безпека веб-застосунків, ас. О.В,...",5,1-10,Дистанційно
68,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,15:00-16:20,"Інформаційна безпека веб-застосунків, ас. О.В,...",6,1-10,Дистанційно
70,NaN,16:30-17:50,NaN,NaN,NaN,NaN
71,NaN,NaN,"Інформаційна безпека веб-застосунків, ас. О.В,...",7,1-10,Дистанційно

In [21]:
df1=pe_df.drop(range(0,8))
df1

,Unnamed: 0,Unnamed: 1,ЗАТВЕРДЖУЮ,Unnamed: 3,Unnamed: 4,Unnamed: 5
8,День,Час,"Дисципліна, викладач",Група,Тижні,Аудиторія
9,Понеділок,8:30-9:50,NaN,NaN,NaN,NaN
10,NaN,10:00-11:20,"Методи об'єктно-орієнтованого програмування, д...",лекція,1-11,Дистанційно
11,NaN,11:40-13:00,"Методи об'єктно-орієнтованого програмування, д...",1,1-10,Дистанційно
12,NaN,13:30-14:50,"Системне програмування, доц. О.П. Жежерун",лекція,1-10,Дистанційно
...,...,...,...,...,...,...
67,NaN,13:30-14:50,"Інформаційна безпека веб-застосунків, ас. О.В,...",5,1-10,Дистанційно
68,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,15:00-16:20,"Інформаційна безпека веб-застосунків, ас. О.В,...",6,1-10,Дистанційно
70,NaN,16:30-17:50,NaN,NaN,NaN,NaN
71,NaN,NaN,"Інформаційна безпека веб-застосунків, ас. О.В,...",7,1-10,Дистанційно

In [24]:
df1.columns = df1.iloc[0]
df1=df1.drop([8])
df1

8,День,Час,"Дисципліна, викладач",Група,Тижні,Аудиторія
9,Понеділок,8:30-9:50,NaN,NaN,NaN,NaN
10,NaN,10:00-11:20,"Методи об'єктно-орієнтованого програмування, д...",лекція,1-11,Дистанційно
11,NaN,11:40-13:00,"Методи об'єктно-орієнтованого програмування, д...",1,1-10,Дистанційно
12,NaN,13:30-14:50,"Системне програмування, доц. О.П. Жежерун",лекція,1-10,Дистанційно
13,NaN,15:00-16:20,"Системне програмування, доц. О.П. Жежерун",1,1-11,Дистанційно
...,...,...,...,...,...,...
67,NaN,13:30-14:50,"Інформаційна безпека веб-застосунків, ас. О.В,...",5,1-10,Дистанційно
68,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,15:00-16:20,"Інформаційна безпека веб-застосунків, ас. О.В,...",6,1-10,Дистанційно
70,NaN,16:30-17:50,NaN,NaN,NaN,NaN
71,NaN,NaN,"Інформаційна безпека веб-застосунків, ас. О.В,...",7,1-10,Дистанційно